.form label {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.form input {
  font: inherit;
  display: block;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  max-width: 100%;
  overflow: hidden;
  /* margin-top: 1rem;
  margin-left: 1rem; */
}
.form input:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}

.actions button {
  font: inherit;
  background-color: #313133;
  color: white;
  border: 1px solid #313133;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem;
}
.actions button:hover,
.actions button:active {
  background-color: #33059e;
  border-color: #33059e;
}

.actions button:disabled,
.actions button:disabled:hover,
.actions button:disabled:active {
  background-color: #ccc;
  columns: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
/* .actions {
    text-align: right;
  } */

.actions button {
  margin-left: 1rem;
}

.form.invalid input {
  font: inherit;
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}
.form.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error {
  color: red;
}
